extends ../layout

block additionalHead
    link(rel='stylesheet', href='/stylesheets/places/style.css')

block content
    .wrapper.container
        .profile-container
            .fixed
                .profile
                    .image(style='background: ' + place.gradient())
                        .inner
                            h5.name #{place.name}
                    .info
                        .field.score
                            #bar
                                .marker(style='left: calc( -4px + ' + place.normalizeSentiment() + '%);')
                                .val(style='left: calc(-20px + ' + place.normalizeSentiment() + '%);')
                                    h5 #{Math.floor(place.normalizeSentiment())}
                                .stick(style='left: ' + place.normalizeSentiment() + '%;')
                                .tick.left
                                .tick.mid
                                .tick.right
                                .expr-icon.pos
                                    i.far.fa-smile
                                .expr-icon.meh
                                    i.far.fa-meh
                                .expr-icon.neg
                                    i.far.fa-frown
                        .field
                            .field-icon
                                i.fas.fa-map-marker
                            p #{place.address || 'No address :('}
                        .field
                            .field-icon
                                i.fas.fa-phone
                            p #{place.phone || 'No phone number :('}
                        .field
                            .field-icon
                                i.fas.fa-share-square
                            if place.website
                                a(href=place.website) #{place.website}
                            else
                                p No website :(
                a.new-review(href='/places/' + place.slug + '/new-review', style='background: ' + place.gradient())
                    .inner
                        .add-icon
                            i.fas.fa-plus-circle
                        h5 Add a new review!
        .reviews-container
            if !place.reviews.length
                .miss
                    h5 Oopsie, looks like no one wrote a review yet :(
                    a(href='/places/' + place.slug + '/new-review') Be the first!
            else
                each review in place.reviews
                    .reviews
                        .review
                            .info
                                p posted by 
                                    a.user(href="#") #{review.by.username}
                                p.timestamp #{review.ago()}
                            .text
                                p #{review.text}