extends ../layout

block additionalHead
    link(rel='stylesheet', href='/stylesheets/places/search.css')
    script(src="/javascripts/search/index.js")

block content
    .container
        .search-results
            if !places.length
                h5.miss Oopsie, we couldn't find anything :(
            else
                each place in places
                    .place(href='/places/' + place.slug)
                        .info
                            .image(style='background: ' + place.gradient())
                            .name-and-address
                                h2.name #{place.name}
                                h5.address #{place.address || 'No address :('} 
                                .website
                                    .web-icon
                                        i.fas.fa-share-square
                                    if place.website
                                        a(href=place.website) #{place.website}
                                    else
                                        p No website :(
                        .review
                            if !place.reviews.length
                                p No review yet :(
                            else
                                p &#34;#{place.reviews[0].text}&#34;